{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_index') }}">Home</a></li>
        </ol>
    </nav>
    <div class="text-primary">
        <h1>Espace utilisateur</h1>
        <p>Bienvenue sur l'espace utilisateur</p>
        <a class="btn btn-primary btn-sm" href="{{ path('user_logout') }}">Déconnexion</a>
    </div>
{% endblock %}
